.hero {
  margin: 0px 120px;
  margin-top: 270px;
}
.hero-text {
  color: #fff;
  font-size: 110px;
  font-weight: 500;
  line-height: 130px;
}
.hero-explore {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}
.hero-explore p {
  color: #292929;
  font-size: 20px;
  font-weight: 500;
}
.hero-dot-play {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}

.hero-dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7.5px;
  cursor: pointer;
}
.hero-dot.orange {
  background: orangered;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-play p {
  color: #fff;
  font-size: 19px;
}

@media (max-width: 375px) {
  .hero {
    margin: 0 1rem;
    margin-top: 3rem;
  }
  .hero-text {
    font-size: 4rem;
    line-height: 5rem;
  }
  .hero-explore {
    margin-top: 8rem;
  }
  .hero-dot-play {
    margin-top: 7rem;
    width: 27rem;
  }
  .hero-dots {
    gap: 1rem;
  }
  .hero-play {
    gap: 2rem;
    width: 14rem;
    justify-content: space-between;
  }
  .hero-play img {
    height: 4rem;
  }
  .hero-play p {
    font-size: 1.5rem;
  }
}
